<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-2.2.3/dt-1.10.12/cr-1.3.2/fh-3.1.2/r-2.1.0/datatables.min.css"/>


</head>
<body>

<form class="form-inline" action="add/" method="post">{% csrf_token %}
    <div class="form-group">
        <label class="sr-only" for="input_title">Title</label>
        <input type="text" class="form-control" id="input_title" name="title" placeholder="Title">
    </div>
    <div class="form-group">
        <label class="sr-only" for="input_author">Password</label>
        <input type="text" class="form-control" id="input_author" name="author" placeholder="Author">
    </div>
    <div class="form-group">
        <label class="sr-only" for="input_link">Link</label>
        <input type="text" class="form-control" id="input_link" name="link" placeholder="Link">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>

{% if song_list %}
    <table id="data_table" class="table table-sm table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        {% for data in song_list %}
            <tr>
                <td>{{ data.title }}</td>
                <td>{{ data.author }}</td>
                <td>
                    {% if data.link %}
                        <a href="{{ data.link }}">Link</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% else %}
    <p>No songs are available.</p>
{% endif %}




<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-2.2.3/dt-1.10.12/cr-1.3.2/fh-3.1.2/r-2.1.0/datatables.min.js"></script>

<script>
    $(document).ready(function() {
        $('#data_table').DataTable({
            scrollY:        '50vh',
        scrollCollapse: true,
        paging:         false
        });
    } );
</script>

</body>
</html>



